<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>particles.js</title>
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="css/login.css">
    <!--引入jquery-->
    <script src="/layui/jquery.min.js"></script>
</head>
<body>
<!-- particles.js container -->
<div id="particles-js" style="display: flex;align-items: center;justify-content: center">
</div>
<form id="loginFormId">
    <div class="login-page">
        <div class="login-content">
            <div class="login-tit">依衣账号用户登录</div>
            <div class="login-input">
                <input type="text" name="username" placeholder="用户名">
            </div>
            <div class="login-input">
                <input type="password" name="password" placeholder="密码">
            </div>
            <div><center></center><span id="message"></span></center></div>
               <div class="login-btn">
                <div class="login-btn-left">
                    <span onclick="login()">登录</span>
                </div>

                <div class="login-btn-right">
                    <a class="txt2" href="../page/toPhone">
                        <div class="login-btn-left">
                            <span ><font color="#f0f8ff">手机号登录</font></span>
                        </div>
                    </a>
                </div>

                   <div class="login-btn-right">
                       <a class="txt2" href="../page/toRegister">
                           <div class="login-btn-left">
                               <span ><font color="#f0f8ff">注册</font></span>
                           </div>
                       </a>
                   </div>
            </div>



</div>

</div>
</form>

<!-- scripts -->
<script src="js/particles.js"></script>
<script src="js/app.js"></script>
<script>





    function login(){
        $.ajax({
            url:"../queryUserByName",
            type:'post',
            data:$("#loginFormId").serialize(),
            success:function (flag){
                if(flag==1){
                    $("#message").html('<font color="red" size="4"><center>账号不存在！！！</font>');
                }else if(flag==3){
                    $("#message").html('<font color="red" size="4"><center>密码错误！！！</font>');
                }else if(flag==2){
                    location.href = "../query";
                }
            },
            error:function (){
                alert("后台错误！！！");
            }
        })
    }


</script>
</body>
</html>