<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.lcw.mapper.ProductMapper" >
    <select id="queryProduct" resultType="java.util.Map">
         SELECT
             tp.productName productname,
             tp.productId productid,
             tsi.sizeImg sizeimg,
             tsi.sizePrice sizeprice
         from
            t_product tp
        LEFT JOIN t_color tc ON tp.productId=tc.productId
        LEFT JOIN t_color_size tcs ON tc.colorid=tcs.colorId
        LEFT JOIN t_size tsi ON tcs.sizeId=tsi.sizeId
        limit 0,8
    </select>


    <select id="queryadvertising" resultType="com.jk.lcw.model.Advertising">
    SELECT * from t_advertising  where statuss=1 and (NOW() BETWEEN startTime
    and DATE_ADD(startTime,INTERVAL minutes MINUTE)) LIMIT 0,3

    </select>
</mapper>