<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- 这是jquery的核心包  -->
    <script   type="text/javascript" src="../js/jquery.min.js"></script>
    <script   src="../highcharts/code/highcharts.js"></script>
    <script   src="../highcharts/code/modules/exporting.js"></script>
    <script   src="../highcharts/code/modules/export-data.js"></script>

</head>

<div style="float:left;margin-bottom: 10px">

<div id="container1" style="min-width: 310px; height: 300px; max-width:  400px; margin:30px;float:left;  "></div>
<div id="container"  style="min-width: 310px; height: 300px; max-width:  400px; margin:30px;float:left; margin-left:100px;"></div>
<div id="container3" style="min-width: 310px; height: 300px; max-width:  400px; margin:30px;float:left; margin-left:100px; "></div>

</div>

</body>
<script>

    //线型图
    $(function () {
        $.ajax({
            url:"../user/HighCharts",
            type:"post",
            dataType:"json",
            async:true,
            success:function (data) {
                var xtext = [];//X轴TEXT
                var nums = [];//y轴数量
                for (var i=0;i<data.length;i++){

                    nums.push(data[i].count);
                    xtext.push(data[i].time);
                }
                var chart = Highcharts.chart('container1', {
                    title: {
                        text: '订单线型图'
                    },
                    yAxis: {
                        title: {
                            text: '订单数量'
                        }
                    },
                    xAxis: {
                        categories: xtext,
                        crosshair: true
                    },
                    series: [{
                        name:"数据",
                        data:nums
                    }]

                });
            }
        })

    })

  /*  //饼状图
    $(function () {
        $.ajax({
            url:"../user/queryCake",
            type:"post",
            dataType:"json",
            success:function (data) {
                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: '奔奔课堂'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.y}</b> 元'
                            }
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: data
                    }]
                });
            },error:function () {
                alert("查询失败")
            }
        })
    })*/

    //柱状图
    $(function () {

        $.ajax({
            url:"../user/queryColumn",
            type:"post",
            dataType:"json",
            success:function (data) {
                Highcharts.chart('container3',{
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: '每月平台收入'
                    },
                    subtitle: {
                        text: '数据来源: WorldClimate.com'
                    },
                    xAxis: {
                        categories:data.time,
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '收入钱数 (元)'
                        }
                    },
                    tooltip: {
                        // head + 每个 point + footer 拼接成完整的 table
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} 元</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name:'收入',
                        data:data.data
                    }]
                });
            }
        })
    })





</script>
</html>