<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--引入layui的js、css-->
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
    <script src="../layui/layui.all.js"></script>
    <!--引入jquery-->
    <script src="../layui/jquery.min.js"></script>



    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="../js/bootstrap3/js/bootstrap.js"></script>
    <!-- bootstrap上传插件 -->
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
    <style type="text/css">
        .layui-table-cell{
            height:auto!important;
            white-space:normal;
        }

    </style>

</head>

<body>

<button type="button" class="layui-btn layui-btn-normal layui-btn-radius" onclick="del()">批量删除</button>
<button type="button" class="layui-btn layui-btn-warm" onclick="add()">新增</button>

<table class="layui-hide" id="test"></table>

<!--修改弹框-->
<div id="update" style = "display : none">

    <form class="layui-form" action="" lay-filter="example1">

        <input name="id" style="display: none">

        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">职位</label>
            <div class="layui-input-block">
                <select  name="powerid">
                    <option value="">请选择</option>
                    <option value="2">boss</option>
                    <option value="3">财务</option>
                    <option value="4">库管</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">

                <input type="radio" name="sex" value="1"  title="男">
                <input type="radio" name="sex" value="2"  title="女">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">生日</label>
            <div class="layui-input-inline">
                <input type="text" name="birthday" id="date2"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="updateUser">立即提交</button>
            </div>
        </div>

    </form>
</div>


<!--新增弹框-->
<div id="add" style = "display : none">

    <form class="layui-form" action="" lay-filter="example1" id="addUser">

        <input name="id" style="display: none">

        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="title" autocomplete="off" placeholder="请输入名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="age" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">职位</label>
            <div class="layui-input-block">
                <select  name="powerid">
                    <option value="">请选择</option>
                    <option value="2">boss</option>
                    <option value="3">财务</option>
                    <option value="4">库管</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">

                <input type="radio" name="sex" value="1"  title="男">
                <input type="radio" name="sex" value="2"  title="女">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">生日</label>
            <div class="layui-input-inline">
                <input type="text" name="birthday" id="date1"  lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-block">
                <input type="hidden" id="testimg" name="img" />
                <input type="file" multiple class="projectfile" accept="image/*" name="img" id="img">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="addUsers">立即提交</button>
            </div>
        </div>

    </form>

</div>

</body>
<script>

    layui.use(['table','jquery','layer'], function() {
        var table = layui.table;
        var $ = layui.jquery;
        table.render({
            elem: '#test'
            , url: '../user/queryUser'
            , limit: 5
            , limits: [2, 5, 10]
            , cols: [
                [
                    {type: 'checkbox'}
                    , {field: 'id', title: 'ID', width: '10%', sort: true}
                    , {field: 'name', width: '10%', title: '用户名'}
                    , {field: 'age', width: '10%', title: '年龄'}
                    , {field: 'sex', width: '10%', title: '性别',
                    templet:function (a) {
                        return a.sex==1 ? "男" : "女"
                    }
                }
                    , {field: 'birthday', width: '20%', title: '生日'
                }
                    , {field: 'img', width: '25%',height:'40%', title: '头像',
                        templet:function(a){
                            return "<img   src='"+a.img+"'/>";
                        }
                },
                    {field: 'powerid', width: '15%', title: '职位',templet:function(b){
                        str="";
                        if(b.powerid==1){
                            str+="boss";
                        }
                        if(b.powerid==2){
                            str+="财务";
                        }
                        if(b.powerid==3){
                            str+="库管";
                        }
                            return str;
                        }

                    }
                    , {
                    field: 'xxx', width: '20%', title: '操作', templet: function (a) {
                        return "<button type='button' class='layui-btn layui-btn-sm' onclick='update("+a.id+")'>修改</button>"
                    }
                }
                ]
            ]
            , page: true
        });

        del = function () {
            var ids =  table.checkStatus("test");
            var arr = ids.data;
            var userId = "";
            for (var i=0;i<arr.length;i++){
                userId +=","+arr[i].id
            }
            var idss = userId.substr(1);
            alert(idss);
            $.ajax({
                url:'../user/deleteUser',
                data:{'ids':idss},
                success:function(){
                },error:function () {
                }

            })
            location.reload()
            console.log(idss)
        }
    });

    //新增
    layui.use(['table','jquery','layer','form','laydate'], function(){

        var layer = layui.layer;
        var form = layui.form;
        var laydate = layui.laydate
        var table = layui.table

        add = function() {

            layer.open({
                type: 1,
                title: "新增弹框",
                area: ['50%', '80%'],
                content:$("#add").html(),
                success:function () {
                    laydate.render({
                        elem: '#date1',
                        trigger: 'click'
                    })
                    form.render();
                    form.on('submit(addUsers)',function (data) {
                        console.log(data)
                        console.log(data.field)
                        var node = data.field

                        $.ajax({
                            url:"../user/addUser",
                            data:node,
                            success:function () {
                                form.render();
                                layer.closeAll()
                            }
                        })
                    })
                },
                end:function () {
                    table.reload();
                }

            })

        }

        //修改回显id
        update = function (id) {
            $.ajax({
                url:'../user/updateById',
                data:{'id':id},
                success:function (data) {
                    layer.open({
                        type: 1,
                        title: "修改用户",
                        area: ['30%', '70%'],
                        content:$("#update").html(),
                        success:function () {
                            laydate.render({
                                elem: '#date2'
                                ,trigger: 'click'

                            });

                            form.val('example1', {

                                "id":data.id,
                                "name":data.name,
                                "age":data.age,
                                "sex":data.sex,
                                "powerid":data.powerid,
                                "birthday":data.birthday

                            })

                            form.on('submit(updateUser)',function (data) {
                                console.log(data)
                                console.log(data.field)
                                var node = data.field
                                $.ajax({
                                    url:"../user/updateUser",
                                    data:node,
                                    success:function () {
                                        form.render();
                                        layer.closeAll()
                                    }
                                })
                            })
                        },
                        end:function () {
                            table.reload()
                        }
                    })
                }
            })
        }
    })

</script>
</html>