<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.user.mapper.UserMapper" >

    <select id="queryUser" resultType="com.jk.user.model.User" parameterType="com.jk.user.model.User">
        select * from t_user0
        <where>
            <if test="userName!=null  and userName!=''">
               and  userName like '%${userName}%'
            </if>
            <if test="userSex!=null and userSex!=''">
               and  userSex=#{userSex}
            </if>
        </where>
    </select>

    <select id="queryTree" resultType="Map">
        select * from t_tree122
    </select>

    <insert id="addUser" parameterType="com.jk.user.model.User">
        insert into t_user0 (userName,userPass,userSex,createDate)
        values(#{userName},#{userPass},#{userSex},#{createDate})
    </insert>

    <delete id="deleteUser" parameterType="int">
        delete  from t_user0 where userId=#{userId}
    </delete>

    <select id="queryUserById" parameterType="int" resultType="com.jk.user.model.User">
        select * from t_user0 where userId=#{userId}
    </select>

    <select id="queryUserByName"  resultType="com.jk.user.model.User">
        select * from t_user where userName=#{userName}
    </select>

    <update id="updateUser" parameterType="com.jk.user.model.User">
        update t_user0
        <set>
            <if test="userName!=null  and userName!=''">
                userName=#{userName},
            </if>
            <if test="userPass!=null and userPass!=''">
                userPass=#{userPass},
            </if>
            <if test="userSex!=null">
                userSex=#{userSex},
            </if>
            <if test="createDate!=null">
                createDate=#{createDate},
            </if>
        </set>
        where userId = #{userId}
    </update>
</mapper>