<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> 购物车 </title>

    <!-- MAIN CSS FILES===================================
	======================================================= -->
    <!-- Animate Css -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Icon CSS -->
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <!-- Mean Menu CSS -->
    <link rel="stylesheet" href="assets/css/slicknav.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/slick-1.9.0.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <!-- Helper Css -->
    <link rel="stylesheet" href="assets/css/helper.css" >
    <!-- Theme CSS -->
    <link rel="stylesheet" href="assets/css/zimate-1.0.css" >
    <!-- Responsive styles-->
    <link rel="stylesheet" href="assets/css/responsive-1.0.css">
    <!-- modernizr js -->
    <script src="assets/js/modernizr-2.8.3.min.js"></script>

    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>

</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Header Start  -->                 
    <header>
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Site Menu -->
                <div class="col-lg-5 d-none d-lg-block">
                    <nav class="main-menu fs-12 lh-70">
                         <ul>
                            <li>
                                <a  href="../query">主页</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">个人资料</a></li>
                                    <li><a href="home-02.html">我的收藏</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="category.html">类别</a>
                            </li>

                            
                            
                            <li>
                                <a href="blog.html">博客</a>
                            </li>
                            <li class="active">
                                <a href="cart.html">购物车</a>
                            </li>
                            <li>
                                <a href="checkout.html">结帐</a>
                            </li>
                            <li>
                                <a href="contact.html">接触</a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- end col -->
                <!-- Site Logo -->
                <div class="col-lg-2 col-6">
                    <div class="logo text-center">
                        <a href="index.html"><img src="assets/img/logo.png" alt="zimate"></a>
                    </div>
                </div>

                <!-- Site Hader cart -->
                <div class="col-lg-5 col-6">
                    <div class="header-right text-right">
                        <ul>
                            <li><a href=""><i class="ti ti-user"></i></a></li>
                            <li class="search"><a href="#"><i class="ti ti-search"></i></a></li>
                            <li class="cart"><a href="#"><i class="ti ti-bag"></i> <span>2</span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 d-none menu-show">
                    <div class="mobilemenu"></div>
                </div>
            </div>
        </div>
    </header>
    
    <!-- Cart Aera End -->
    <!-- Mian Wrapper Start -->
    <main>
        <!-- breadcrumb-area start -->
        <section class="breadcrumb-area bg-light p-t-80 p-b-120 fs-14 link-color-2">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="m-b-30 fs-40 fw-600">购物车</h2>
                        <ul class="list-inline">
                            <li><a href="index.html">Home</a></li>
                            <li>-</li>
                            <li><a href="single-post.html">Shopping Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area start -->
        <!-- Cart content Wrapper -->
        <section class="cart-content-wrapper p-t-120 p-b-120">
            <div class="container">
                <!-- Cart Table start -->
                <div class="row">
                    <div class="col-12">
                        <div class="cart-table" id="cart-table">
                            <table class="table-shopping-cart" id="tableid">
                            <tr class="table_head" >
                                <th>&nbsp;&nbsp;</th>
                                <th class="column-1">产品</th>
                                <th class="column-2"></th>
                                <th class="column-3">价格</th>
                                <th class="column-2">数量</th>
                                <th class="column-5">总计</th>
                                <th class="column-6"></th>
                            </tr>
                            <tr class="table_row frist-row" v-for="item in CartviewList">
                                <td><input type="checkbox" name="check"><span style="display: none">{{item.productid}}</span></td>
                                <td class="column-1">
                                      <div class="cart-img">
                                            <img :src="item.productimg" alt="IMG">
                                      </div>
                                </td>
                               <td class="column-2">{{item.productname}}</td>
                               <th class="column-3" v-model="price">{{item.productprice}}</th>
                               <td class="column-2">
                                     <div class="quantity-input" >
                                            <button  @click="changeMoney(item,-1)" >-</button>
                                             <span class="moneyCount" v-model = "productCount">{{item.productCount}}</span>
                                               <button  @click="changeMoney(item,1)" >+</button>
                                     </div>
                                   </td>
                               <td class="column-5">
                                   {{(item.productCount)*(item.productprice)}}
                                   <!--<input type="text" style="display: none" v-model = "moneyAll" value="">-->
                               </td>
                               <td class="column-6"><i class="ti ti-trash"></i></td>
                              <a href="javascript:deleteshoucang()"><i class="ti ti-tra"></i></a>
                          </tr>
                            </table>
                        </div>

                        <div class="table-bootm clearfix m-t-30">
                            <div class="table-bootm-left float-l">
                                <a href="../query" class="continune-shop btn boxed-btn m-r-22">继续购物</a>
                                <a href="../removeCart" class="update-cart btn border-btn">清空购物车</a>
                            </div>
                            <div class="table-bootm-right float-r">
                                <a href="javascript:settleAccounts()" class="clear-cart btn border-btn">结算</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Cart content Wrapper End-->
    </main>
    <!-- Mian Wrapper End -->
    <!-- Footer Start  -->
    <footer class="footer-black">
        <!-- Footer Top Area -->
        <div class="footer-widget-area p-t-100 p-b-100 divider">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <!-- Widgets -->
                        <div class="widgets footer-menu">
                            <h4 class="widgets-title">关于我们</h4>
                            <ul>
                                 <li><a href="">我们是谁</a></li>
                                <li><a href="">使用 </a></li>
                                <li><a href="">成为供应商</a></li>
                                <li><a href="">投资者关系</a></li>
                                <li><a href="">我们的设备</a></li>
                                <li><a href="">附属计划</a></li>
                            </ul>
                        </div>
                        <!-- End Widgets -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <!-- Widgets -->
                        <div class="widgets footer-menu">
                            <h4 class="widgets-title">有用的链接</h4>
                            <ul>
                                <li><a href="">联系我们</a></li>
                                <li><a href="">常见问题解答</a></li>
                                <li><a href="">条款和条件</a></li>
                                <li><a href="">退货政策</a></li>
                                <li><a href="">取消预约</a></li>
                                <li><a href="">轨道 </a></li>
                            </ul>
                        </div>
                        <!-- End Widgets -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <!-- Widgets -->
                        <div class="widgets footer-menu">
                           <h4 class="widgets-title">跟我们来</h4>
                            <ul>
                                <li><a href=""><i class="ti ti-facebook"></i>脸谱网</a></li>
                                <li><a href=""><i class="ti ti-facebook"></i>推特</a></li>
                                <li><a href=""><i class="ti ti-facebook"></i>一款图片分享应用</a></li>
                                <li><a href=""><i class="ti ti-facebook"></i>Youtube网站</a></li>
                            </ul>
                        </div>
                        <!-- End Widgets -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <!-- Widgets -->
                        <div class="widgets footer-menu">
                            <h4 class="widgets-title">网上购物</h4>
                            <ul>
                                <li><a href="">时尚男士购物</a></li>
                                <li><a href="">女性购物 2019</a></li>
                                <li><a href="">礼品卡和优惠券</a></li>
                                <li><a href="">家庭生活费</a></li>
                                <li><a href="">电子小工具</a></li>
                            </ul>
                        </div>
                        <!-- End Widgets -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom-area -->
        <div class="footer-bottom-area p-t-30 p-b-30 divider">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="copyright-text">
                            <p>版权 © 2019 <a href="http://www.bootstrapmb.com/" target="_blank">1905班三组</a>. 保留所有权利</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="payment-method text-right">
                            <ul>
                                <li><a href="#"><img src="assets/img/payment/01-white.png" alt="Paypal"></a></li>
                                <li><a href="#"><img src="assets/img/payment/02-white.png" alt="Visa"></a></li>
                                <li><a href="#"><img src="assets/img/payment/03-white.png" alt="Master Crad"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->


    <!-- MAIN JS FILES===================================
	======================================================= -->
    <!-- jQuery -->
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap js-->
    <script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Poper js -->
    <script src="assets/js/popper-1.14.7.js"></script>
    <!-- Mean Menu js -->
    <script src="assets/js/jquery.slicknav.min.js"></script>
    <!-- Slick JS -->
    <script src="assets/js/slick.min-1.9.0.js"></script>
    <!-- sweetalert -->
    <script src="assets/js/sweetalert.min-1.0.js"></script>
    <!-- Theme js -->
    <script src="assets/js/zimate-1.0.js"></script>
</body>
    <script>
        var vm = new Vue({
            el: '#cart-table',
            data: {
                CartviewList:[],
                price:2,
                productCount : 0,
                moneyAll:0
            },mounted(){
                this.initdata();
            },
            methods:{
                initdata:function(){
                    var _this=this;
                    $.ajax({
                        url:"../queryCart",
                        dataType:"json",
                        success:function(data){
                            _this.CartviewList=data
                        }
                    })
                },
                changeMoney:function(product,way){
                    console.log(product)
                    if(way>0){
                        product.productCount++;
                    }else{
                        product.productCount--;
                        if(product.productCount<1){
                            product.productCount=1;//当数量少于1个时保持1个不变
                        }
                    }
                   /* console.log(product.productCount)*/

                },
            },
            watch : {
                price:function(val) {
                    this.price = val;
                },
                productCount:function(val) {
                    this.productCount = val;
                    this.moneyAll = this.productCount * this.price
                },
                moneyAll : function (val) {
                    this.productCount = val/ this.price;
                    this.moneyAll = val;
                }
            }
        });
        delMoney=function(b){
            var a = $(b).siblings(".moneyCount").html();
            $(b).siblings(".moneyCount").html(--a);
            alert($("b .column-3").html())
            alert($(b).siblings(".moneyCount").html())
        }
        addMoney=function(b){
            vm.productCount=++(vm.productCount)
            console.log(vm.productCount)
        }


        function settleAccounts(){
            var ids="";
            var moneyAll=0;
            $("[name=check]:checked").each(function(){
                ids+= ids=="" ? $(this).next().text() : ","+$(this).next().text();
                moneyAll+=eval($(this).parent().next().next().next().next().next().text());
                //moneyAll+=$(this).next().next().next().next().next().text()
            })
            alert(moneyAll)
            location.href="../goAlipay?price="+moneyAll+"&ids="+ids;

        }
    </script>
</html>