<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title><!--引入layui的js、css-->
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" />
    <script src="../layui/layui.all.js"></script>
    <!--引入jquery-->
    <script src="../layui/jquery.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="../js/bootstrap3/js/bootstrap.js"></script>
    <!-- bootstrap上传插件 -->
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
<form class="layui-form" action="" lay-filter="example">
    <input th:value="${session.id}" id="id" style="display: none"></input>
        <div class="layui-form-item">
            <label class="layui-form-label">尺码</label>
            <div class="layui-input-block">
                <input type="text" id="sizeName" name="sizeName" lay-verify="title" autocomplete="off" placeholder="尺码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">库存</label>
            <div class="layui-input-block">
                <input type="text" id="sizeCount" name="sizeCount" lay-verify="title" autocomplete="off" placeholder="库存" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-block">
                <input type="text" id="sizePrice" name="sizePrice" lay-verify="title" autocomplete="off" placeholder="价格" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">包装</label>
            <div class="layui-input-block">
                <input type="text" id="sizePack" name="sizePack" lay-verify="title" autocomplete="off" placeholder="包装" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-block" style="width: 30%">
                <input type="hidden" id="testimg" name="img" />
                <input type="file" multiple class="projectfile" accept="image/*" name="img" id="img">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
<script>
    layui.use(['form','layer','laydate','jquery'],function(){
        var $ = layui.jquery;
        var laydata = layui.laydate;
        var form = layui.form;
        var id = $("#id").html();
        form.render()
        laydata.render({
            elem:'#date1'
        })
        form.on('submit(formDemo)',function (data) {
            var node = data.field
            var id = $("#id").val();
           $.ajax({
                url:"../product/addsize",
                data:{colorId:id,sizeName:$("[name=sizeName]").val(),sizeCount:$("[name=sizeCount]").val(),sizePrice:$("[name=sizePrice]").val(),sizePack:$("[name=sizePack]").val(),sizeImg:$("[name=img]").val(),powerid:$("[name=powerid]").val(),img:$("#testimg").val()},
                success:function () {
                    form.render();
                }
            })
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        })
    })


    $(function () {
        uploadify();
    })
    function uploadify() {
        $('#img').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '../user/updaloadImg', //上传的地址
            allowedFileExtensions: ['jpg', 'png', 'jpeg', 'gif', 'bmp'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 3, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount: true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        }).on('fileuploaded', function (event, data, previewId, index) {
            var imgval = $('#testimg').val();
            if (imgval == null || imgval == "" || imgval == undefined) {
                imgval = data.response.imgUrl;
            } else {
                imgval += "," + data.response.imgUrl;
            }
            $('#testimg').val(imgval);
        });

    }


</script>
</body>
</html>